<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}&mdash;blog.ParkJi.co.uk</title>
        <link href='https://fonts.googleapis.com/css?family=Fenix' rel='stylesheet'>

        {% if site.env != 'development' %}
            <link rel="stylesheet" href="https://assets.parkji.co.uk/css/styles.min.css">
        {% else %}
            <link rel="stylesheet" href="http://parkjiAssets.localhost/css/styles.min.css">
        {% endif %}
        <link rel="stylesheet" href="/css/monokai-syntax-highlighter.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="wrapper">
            <header class="site-header">
                <a href="/" class="brand site-logo">
                    ParkJi.co.uk
                </a>
            </header>
            <div class="content separated grid">
