<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}&mdash;blog.ParkJi.co.uk</title>
        <link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet'>

        {% if site.env != 'development' %}
            <link rel="stylesheet" href="http://assets.parkji.co.uk/css/styles.min.css">
        {% else %}
            <link rel="stylesheet" href="http://parkjiAssets.localhost/css/styles.min.css">
        {% endif %}
        {% if site.env != 'development' %}
            <!--[if lt IE 9]>
                <script src="http://assets.parkji.co.uk/js/polyfills.js"></script>
            <![endif]-->
        {% else %}
            <!--[if lt IE 9]>
                <script src="http://parkjiAssets.localhost/js/polyfills.js"></script>
            <![endif]-->
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-25124123-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <div class="wrapper">
            <header class="site-header">
                <a href="/" class="brand site-logo">
                    Blog.ParkJi.co.uk
                </a>
            </header>
            <nav>
                <ul class="nav site-nav">
                    <li>
                        <a href="http://parkji.co.uk/">Home</a>
                    </li>
                    <li>
                        <a href="/" class="active">Blog</a>
                    </li>
                    <li>
                        <a href="http://parkji.co.uk/#work">Work</a>
                    </li>
                    <li>
                        <a href="http://parkji.co.uk/about">About</a>
                    </li>
                </ul>
            </nav>
            <div class="content separated grid">